/*Contenedor principal*/
.about__container{
    overflow-y: scroll;
    height: 93vh;

    display: flex;
    
}

.about__img{
    width: auto;
    height: 100vh;
}

.about__article{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10em;
    background-color: #000;

    color: white;
}

.about__title{
    text-align: center;
}

.about__description{
    display: flex;
    padding: 1em;
    text-align: justify;

    font-weight: 100;
    font-size: 1em;
}



/*Media queries*/

@media only screen and (max-width:1080px){
   
    
    /* .about__article{
        margin-right: 11em;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .about__container{
        display: flex;
        flex-direction: column;
        
    }
        .about__article{
            margin-right: 0;
            text-align: center;
            background-color: blue;
        }

        .about__img {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
      }
      
      .phone{
        display:none;
      }
}

/* @media only screen and (max-width:840px){

    .about__img{
        width: 58%;
        height: 110vh;
        display: flex;
        justify-content: center;
    }
} */