/* carro.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gallery__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carrito-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* #carrito-info {
    /* Por si hay que cambiar los estilos del carrito, igual lo meti en el carro.js*/


h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.empty-cart-message {
    font-size: 1.1em;
    color: #555;
}

.go-to-gallery-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.go-to-gallery-button:hover {
    background-color: #45a049;
}
