body{
  overflow-x: hidden;
  margin: 0;
  overflow-y: auto;

  background-color: #262726;
}

/*Header*/

header nav{
  margin-bottom: -50px;
}

.nav__img-tamaño {
  height: auto;
  max-width: 11%;
  cursor: pointer;
}

header ul{
  font-size: 1.1em;
}

/*Filtros categorías*/

.gallery_filter{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.gallery__buttonCategory{
  background-color: #262726;
  color: white;
  border: white solid 1px;
  min-width: 13%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;


}


.gallery__buttonCategory:hover{
  font-weight: bolder;
  border: white solid 2px;

  display: flex;
  align-items: center;


}

.gallery_filtersSubCategory{
display: flex;
align-items: center;
margin: auto;
gap: 30px;
height: 10%;
background-color: #830c0c;
padding: 1%;
border-radius: 43px;

}

.gallery__buttonSubCategory{
background-color: #830c0c;
color: white;
border: #830c0c solid 0.5px;
font-size: 0.8em;
display: none;

}

.gallery__buttonSubCategory:hover{
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.gallery_filtersSubCategory button a{
/* background-color: #830c0c; */
text-decoration: none;
color: white;
border: #830c0c solid 0.5px;
font-size: 1em;
}

.gallery_filtersSubCategory button a:hover{
border: #830c0c solid 0.5px;

font-size: 1.02em;
font-weight: 700;  
}
.gallery_filtersSubCategory button a:active{
border: #830c0c solid 0.5px;
font-size: 1.02em;
font-weight: 500;  
color:#f20519;
}
.gallery_filtersSubCategory button a:focus{
border: #830c0c solid 0.5px;
font-size: 1.04em;
font-weight: 800;  
color:#f20519;
}

/*Galería imágenes*/
.gallery__container{
  display: grid;

  margin: 2px;
}

.gallery__fotos {
columns: 3 300px;
/*ajustar tamaño imagenes*/
column-gap: 30px;
/*espacios entre fotos*/


}

img {
  width: 100%;
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción de aspecto */
  display: block; /* Elimina espacios en blanco debajo de las imágenes */
  margin-bottom: 30px; /* Ajusta el espacio entre las imágenes */
  cursor: pointer;
  border-radius: 0.1em;
  padding: 5px;
  transition: all 0.20s;
  transition-timing-function: linear;

max-width: 100%;
margin-bottom: 2em;
cursor: pointer;

border-radius: 0.1em;
padding: 5px;
transition: all .3s
}

/* CLASES MODAL */

/* Añade estos estilos para el modal */
.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 50px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.9);
}

#modalTitle {
font-family: 'raleway', Helvetica, sans-serif;
font-size: 24px;
margin-bottom: 10px;
}

#modalPrice {
font-family: 'raleway', Helvetica, sans-serif;
font-size: 78px;
color: #ffd700;
max-height: 14vh;
}

.modal-info {
display: flex;
color: #fff;
}

.modal-content {
display: flex;
max-width: 43vw;
max-height: 56vh;
}

.modal__section {
display: flex;
justify-content: space-around;

}

.modal__info-justify {
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-end;
min-width: 28vw;
height: 74vh;
margin-top:-7%;
}

.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
cursor: pointer;
}

.pagination {
display: flex;
justify-content: space-between;
padding: 10px;
}

.prev,
.next {
cursor: pointer;
font-size: 20px;
font-weight: bold;
color: #f1f1f1;
}

.prev:hover,
.next:hover {
color: #ddd;
}


/*Media queries*/
@media only screen and (max-width:900px) {
.gallery_filtersSubCategory {
  display: flex;
  margin: auto;
  gap: 30px;

}
}

@media only screen and (max-width:660px) {
.gallery_filtersSubCategory {
  display: flex;
  margin: auto;
  gap: 0px;

}
}

@media only screen and (max-width:540px) {
.gallery_filtersSubCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 0px;

}
  /*Galería imágenes*/

  .gallery__fotos {
    columns: 3 300px;
    /*ajustar tamaño imagenes*/
    column-gap: 30px;
    /*espacios entre fotos*/

  }

  img {
    max-width: 100%;
    margin-bottom: 2em;
    cursor: pointer;

    border-radius: 0.1em;
    padding: 5px;
    transition: all .3s
  }

  /* CLASES MODAL */

  /* Añade estos estilos para el modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    display: flex;
    max-width: 43vw;
    margin-left: 3%;
  }

  .modal__section {
    display: flex;

  }

  #modalTitle {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }


  #modalPrice {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 18px;
    color: #ffd700;
  }

  .modal-info {
    display: flex;
    color: #fff;
  }

  .modal__info-justify {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-end;
    min-width: 74%;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .prev,
  .next {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .prev:hover,
  .next:hover {
    color: #ddd;
  }

}


/*Media queries*/
@media only screen and (max-width:1000px){
  .gallery__fotos {
      column-count: 2;
      gap: 20px; /* Espacios entre fotos */
  }

}


@media only screen and (max-width:900px){
  .gallery_filtersSubCategory{
      display: flex;
      margin: auto;
      gap: 30px;

}
  .gallery__fotos {
      column-count: 1;
      gap: 10px; /* Espacios entre fotos */
}

}

@media only screen and (max-width:840px){
  .burger {
      background-color: red;
    }
}

@media only screen and (max-width:900px) {
.gallery_filtersSubCategory {
  display: flex;
  margin: auto;
  gap: 30px;

}
}

@media only screen and (max-width:660px){
  .gallery_filtersSubCategory{
      display: flex;
      margin: auto;
      gap: 0px;

}}
@media only screen and (max-width:660px) {
.gallery_filtersSubCategory {
  display: flex;
  margin: auto;
  gap: 0px;

}
}

@media only screen and (max-width:540px){
  .gallery_filtersSubCategory{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      gap: 0px;

}}

@media only screen and (max-width:540px) {
.gallery_filtersSubCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 0px;

}
}