body {
  overflow-x: hidden;
  margin: 0;
  overflow-y: auto;

  background-color: #262726;
}

/*Header*/

header nav {
  margin-bottom: -50px;
}

.nav__img-tamaño {
  height: auto;
  max-width: 11%;
  cursor: pointer;
}

header ul {
  font-size: 1.1em;
}

/*Filtros categorías*/

.gallery_filter {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.gallery__buttonCategory {
  background-color: #262726;
  color: white;
  border: white solid 1px;
  min-width: 13%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;


}


.gallery__buttonCategory:hover {
  font-weight: bolder;
  border: white solid 2px;

  display: flex;
  align-items: center;


}

body {
  overflow-x: hidden;
  margin: 0;
  overflow-y: auto;

  background-color: #262726;
}

/* botones de filtros */




/*Header*/

header nav {
  margin-bottom: -50px;
}

.nav__img-tamaño {
  height: auto;
  max-width: 11%;
  cursor: pointer;
}

header ul {
  font-size: 1.1em;
}

/*Filtros categorías*/

.gallery_filter {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.gallery__buttonCategory {
  background-color: #262726;
  color: white;
  border: white solid 1px;
  min-width: 13%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;


}


.gallery__buttonCategory:hover {
  font-weight: bolder;
  border: white solid 2px;
  display: flex;
  align-items: center;


}

.gallery_filtersSubCategory {
  display: flex;
  margin: auto;
  gap: 30px;
  height: 10%;
  background-color: #830c0c;
  padding: 1%;
  border-radius: 43px;
}

.gallery__buttonSubCategory {
  background-color: #830c0c;
  color: white;
  border: #830c0c solid 0.5px;
  font-size: 0.8em;
  display: none;
}
.gallery_filtersSubCategory button a{
  /* background-color: #830c0c; */
  text-decoration: none;
  color: white;
  border: #830c0c solid 0.5px;
  font-size: 1em;
}

.gallery_filtersSubCategory button a:hover{
  border: #830c0c solid 0.5px;
  font-size: 1.02em;
  font-weight: 700;  
}
.gallery_filtersSubCategory button a:active{
  border: #830c0c solid 0.5px;
  font-size: 1.02em;
  font-weight: 500;  
  color:#f20519;
}
.gallery_filtersSubCategory button a:focus{
  border: #830c0c solid 0.5px;
  font-size: 1.04em;
  font-weight: 800;  
  color:#f20519;
}

/*Galería imágenes*/

.gallery__fotos {
  columns: 3 300px;
  /*ajustar tamaño imagenes*/
  column-gap: 30px;
  /*espacios entre fotos*/

}

img {
  max-width: 100%;
  margin-bottom: 2em;
  cursor: pointer;

  border-radius: 0.1em;
  padding: 5px;
  transition: all .3s
}

/* CLASES MODAL */

<<<<<<<<< Temporary merge branch 1
/* Añade estos estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    display: flex;
    max-width: 43vw;
    /* max-height: 80%; */
    margin-left: 3%;
}
.modal__section{
    display:flex;
    
}

#modalTitle {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  #modalPrice {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 18px;
    color: #ffd700;
  }

  .modal-info{
    display:flex;
    color: #fff;
  }
  .modal__info-justify {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-end;
    min-width: 74%;
}
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .prev, .next {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .prev:hover, .next:hover {
    color: #ddd;
  }
  
  
=========


/*Media queries*/
@media only screen and (max-width:900px) {
  .gallery_filtersSubCategory {
    display: flex;
    margin: auto;
    gap: 30px;

  }
}

@media only screen and (max-width:660px) {
  .gallery_filtersSubCategory {
    display: flex;
    margin: auto;
    gap: 0px;

  }
}

    @media only screen and (max-width:540px){
        .gallery_filtersSubCategory{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            gap: 0px;
            
        }}
>>>>>>>>> Temporary merge branch 2
