@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background-color: #424242;
}
.contacto{
    display: flex;
    justify-content: center;
}

.logoPrincipal {
    width: auto;
    height: 50vh;
}

h4{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #000000;
}

.formulario{
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #8c8c8c;
    border: 1px solid #474343;
    padding: 30px;
    border-radius: 10px;
    /* max-width: 400px; */
    height: 40vh;
    margin: 90px;
}

@media screen and (max-width: 768px) {
    .logoPrincipal {
      width: 80%; /* ajusta según sea necesario */
      max-width: 200px; /* tamaño máximo permitido */
    }
  }

@media screen and (max-width: 768px) {
    .formulario {
        width: 80%;
    }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    h4 {
        font-size: 20px;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}

.form-group{
    margin: 2%;
    text-align: center;
}

img .logo-user{
    width:10px;
    height: 10px;
}

.logo-user{
    width: 20px;
    position:relative;
    left: 38px;
    margin-bottom: -5px;
}

.control{
    width: 30rem;
    height: 2.6rem;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 13px;
    text-align: center;
}

.botons{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    cursor: pointer;
}

.check-term{
    display: flex;
    justify-content: center;
    gap: 3px;
}

.main-form{
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo-register{
    width: 30px;
    /* margin: 0rem; */
}

.form-group a{
    text-decoration: none;
    color: #ffffff;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 1000px) {
    .control {
        width: 86%;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}
