@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background-color: #424242;
}
.contacto{
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.logoPrincipal {
    height: auto;
    max-width: 55%;
}


h4{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #000000;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #8c8c8c;
    border: 1px solid #474343;
    margin-top: 5%;
    padding: 30px 40px 75px 40px;
    border-radius: 10px;
    height: 45vh;
    
    margin: 90px;
}


@media screen and (max-width: 768px) {
    .formulario {
        width: 80%;
    }
    .logoPrincipal {
        width: 80%; /* ajusta según sea necesario */
      max-width: 200px; /* tamaño máximo permitido */
    }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    h4 {
        font-size: 20px;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}

.form-group{
    margin: 2%;
    text-align: center;
}

#boton {
    color: white;
}

img .logo-user{
    width:10px;
    height: 10px;
}

.logo-user{
    width: 20px;
    position:relative;
    left: 38px;
    margin-bottom: -5px;
}

.control{
    width: 30rem;
    height: 2.6rem;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 13px;
    text-align: center;
}

.botons{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    cursor: pointer;
}
.botons a{
    color: white;
}

.check-term{
    display: flex;
    justify-content: center;
    gap: 3px;
}

.main-form{
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo-register{
    width: 30px;
    /* margin: 0rem; */
}

.form-group a{
    text-decoration: none;
    color: #ffffff;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 1000px) {
    .control {
        width: 86%;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}


/* Agrega estos estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal p{
    font-weight: 300;

  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 28% auto;
    padding: 70px;
    border: 1px solid #888;
    width: 26%;
    text-align: center;
  }
  #redd__galeria{
    background-color: #980101;
    color:white;
    padding: 3% 7% 3% 7%;
    border: #980101;
    border-radius: 5rem;
  }
  
  .close {
    color: #aaa;
    float: inline-end;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  