body {
    background-color: #424242;
}
.contacto{
    display: flex;
    justify-content: center;
}

.logoPrincipal {
    width: auto;
    height: 50vh;
}


h4{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #000000;
}

.formulario{
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #8c8c8c;
    border: 1px solid #474343;
    padding: 40px;
    border-radius: 10px;
    /* max-width: 400px; */
    height: 45vh;
    
    margin: 90px;

}


@media screen and (max-width: 768px) {
    .formulario {
        width: 80%;
    }
    .logoPrincipal {
        width: 80%; /* ajusta según sea necesario */
      max-width: 200px; /* tamaño máximo permitido */
    }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    h4 {
        font-size: 20px;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}

.form-group{
    margin: 13px;
    text-align: center;
        
}

img .logo-user{
    width:10px;
    height: 10px;
    
}

.logo-user{
    width: 20px;
    position:relative;
    left: 38px;
    margin-bottom: -5px;

}

.control{
    width: 30rem;
    height: 2.6rem;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 13px;
    text-align: center;
    

}

.botons{
    width: 9.5rem;
    height: 2.5rem;
    background-color: #080808;
    color: #ffffff;
    border: #2F8F97;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 #000;
    font-size: 18px;
    
}


.check-term{
    display: flex;
    justify-content: center;
    gap: 3px;
}

.main-form{
    display: grid;
    justify-items: center;
    align-items: center;

}

.logo-register{
    width: 30px;
    /* margin: 0rem; */
   
}

.form-group a{
    text-decoration: none;
    color: #b90909;
    
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 1000px) {
    .control {
        width: 86%;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}
