*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    margin-top: 50px;
}
main{
      
    gap: 18px;
    
    margin: 300px 10px 0 10px;
    width: 30%;
    height: 100px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section{
    background-color: rgb(205, 246, 218);
    width: 100%;
    height: 500px;
    
}

img{
    border-radius: 5px;
    box-shadow: 0px  10px 1px #0000; 
}

h2,span{
    text-align: center;
    font-size: 1.2em;
}

.image-container{
    display: flex;
}
.image-container img {
    width: 100%;

}
article{
    padding: 10px;
    box-shadow: 0px  0px 1px #0000; 
    
}

span{
    display: flex;
    flex-direction: column;
}

/*BOTONES*/
.carusel-botons{
    display: flex;
    margin-top: -200px;
    
    justify-content: center;
    column-gap: 30px;
    
}

/* #right{
    color: rgb(252, 252, 252);
    background-color: rgb(17, 150, 150);
    border: none;
    border-radius: 5px;
    
    width: 10%;
    font-size: 3em;
    padding: 2px;
    justify-content: space-evenly;
    
}

#left{
    color: rgb(252, 252, 252);
    background-color: rgb(17, 150, 150);
    border: none;
    border-radius: 5px;
    
    width: 10%;
    font-size: 3em;
    padding: 2px;
    justify-content: space-evenly;
} */

.carousel-button:hover{
    background-color: rgb(10, 86, 86);
}

/*STATUS*/
.alive{
    color: green;
}

.dead{
    color: red;
}

.unknown{
    color: black;
}