<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" sizes="16x16 32x32 48x48" type="image/svg" href="./img/favicon.svg" />
  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">

  <title>About</title>
</head>
<body class="">
  <header id="main-header">
    <div class="menu__icon">
      <i class="fas fa-bars icon"></i>
    </div>
 
    <!--Burger Menú-->
    <input class="menu__btn" type="checkbox" id="menu__btn" />
    <label class="menu__icon" for="menu__btn"><span class="navicon"></span> </label>  
    <!--Menú-->

<<<<<<<<< Temporary merge branch 1
  <nav>
    <a href="/index.html" class="nav__logo logo">
    <img id="logoPrincipal" src="../img/iconos/logoBlanco.svg" alt="Logotipo Miguel Meixoeiro" class="hide-logo">
    </a>
    <ul>
      <li><a href="register.html">ACCESO</a></li>
      <li><a href="./templates/about.html">ABOUT</a></li>
      <li><a href="../templates/gallery.html">GALERIA</a></li>
    </ul>
  </nav>
=========
    <nav>
      <a href="../index.html" class="nav__logo logo">
      <img id="logoPrincipal" src="../img/iconos/logoLetraBlanca.svg" alt="Logotipo Miguel Meixoeiro" class="hide-logo">
      </a>
      <ul>
        <li><a href="#acceso" id="sliderRojo" class="toggle-logo">CONTACTO</a></li>
        <li><a href="../templates/about2.html">ABOUT</a></li>
        <li><a href="#galeria">GALERIA</a></li>
        <li><a href="#contacto">ACCESO</a></li>
      </ul>
    </nav>
  </header>

  <main class="about__container">
    <figure class="about__figure">
        <img class="about__img" src="../img/parthiv-sailesh-5VUI8uR8yy8-unsplash.jpg" alt="imagen-autor">
    </figure>
    <article class="about__article">
        <h2 class="about__title">MIGUEL MEIXOEIRO</h2>
        <div class="about__description">
          Descubre la magia de las sesiones fotográficas en estudio y exterior. En cada captura, fusiono técnica y creatividad para inmortalizar momentos que van más allá de la simple imagen. Mis habilidades no se limitan a la toma de fotografías; cada imagen es cuidadosamente editada y retocada para resaltar su verdadera esencia. Ya sea que estés buscando capturar la personalidad única de un individuo, realzar la belleza de un producto, explorar la serenidad de un paisaje o celebrar la alegría de tus mascotas, estoy aquí para plasmarlo con autenticidad y estilo. La fotografía, para mí, es más que un arte; es la capacidad de revelar la esencia de lo capturado. ¿Listo para dar vida a tus ideas visuales? ¡Conecta conmigo a través de los distintos medios disponibles y déjame ser el narrador visual de tu historia!        </div>
    </article>
        <!-- slide rojo que aparece cuando clickamos en ACCESO -->
        <section class="sliderLateral" id="sliderLateralContainer">
          <a class="navicon" id="sliderRojo">      <i class="fas fa-bars icon"></i>
            </a>
          <img src="../img/iconos/logoBlanco.svg" alt="Logotipo Miguel Meixoeiro" class="logoSlideBlanco">
    
          <section class="slider__formulario">
            
            <form class="form">
              <input class="input" type="text" placeholder="Nombre">
              <input class="input" type="text" placeholder="E-Mail">
              <textarea class="textarea" placeholder="Mensaje"></textarea> 
              <div class="center">
                <button class="button">Submit</button>
              </div>
            </form>
          </section>
          <section class="redes">
            <img src="./img/facebook.svg" alt="" class="redes--formato">
            <img src="./img/instagram.svg" alt="" class="redes--formato">
            <img src="./img/linkedin.svg" alt="" class="redes--formato">
            <img src="./img/twiter.svg" alt="" class="redes--formato twit">
          </section>
          
    
        </section>
</main>

  <footer>
    <img src="../img/iconos/logoPlanoBlanco.svg" alt="Logotipo Miguel Meixoeiro">
  </footer>
  <script src="../js/scripJS.js"></script>
</body>
</html>
