<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" sizes="16x16 32x32 48x48" type="image/svg" href="./img/favicon.svg" />
  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">

  <title>About</title>
</head>
<body class="no-scroll">
  <header id="main-header">
    <div class="menu__icon">
      <i class="fas fa-bars icon"></i>
    </div>
 
  <!--Burger Menú-->
  <input class="menu__btn" type="checkbox" id="menu__btn" />
  <label class="menu__icon" for="menu__btn"><span class="navicon"></span> </label>  
  <!--Menú-->

  <nav>
    <a href="/index.html" class="nav__logo logo">
    <img id="logoPrincipal" src="../img/iconos/logoBlanco.svg" alt="Logotipo Miguel Meixoeiro" class="hide-logo">
    </a>
    <ul>
      <li><a href="register.html">ACCESO</a></li>
      <li><a href="./templates/about.html">ABOUT</a></li>
      <li><a href="../templates/gallery.html">GALERIA</a></li>
    </ul>
  </nav>
  </header>

  <main class="about__container">
    <figure class="about__figure">
        <img class="about__img" src="../img/parthiv-sailesh-5VUI8uR8yy8-unsplash.jpg" alt="imagen-autor">
    </figure>
    <article class="about__article">
        <h2 class="about__title">MIGUEL MEIXOEIROS</h2>
        <div class="about__description">
            Se realizan sesiones fotográficas en estudio y exterior. Se editan y retocan fotografías. Capturo imágenes que comuniquen o transmitan una idea o personalidad. Esto aplica tanto para la fotografía de personas, como de productos, paisajes o mascotas. Se decía que las fotos robaban el alma y es por su capacidad de mostrar la esencia de lo fotografiado. CONTACTA CONMIGO por los distintos medios.
        </div>
    </article>
</main>

  <footer>
    <img src="../img/logoPlanoBlanco.svg" alt="Logotipo Miguel Meixoeiro">
  </footer>
  <script src="../js/scripJS.js"></script>
</body>
</html>
