
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="./css/carro.css">
    <title>Carrito de Compra</title>
</head>
<body>
    <main class="gallery__container">
        <section id="products__display" class="carrito-container">
            <!-- Aqui deberia de añadirse el contenido de cada producto -->
            <h2>Tu carrito de la compra</h2>
            <p class="empty-cart-message">El carrito de la compra se encuentra vacío. Echale un vistazo a la galería.</p>
            <button class="go-to-gallery-button">Ir a la Galería</button>
        </section>
    </main>
    <script src="./js/carro.js"></script>
</body>
</html>
