<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" sizes="16x16 32x32 48x48" type="image/svg" href="./img/favicon.svg" />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/contacto.css">
  <title>Miguel Meixoeiro</title>
</head>
<body class="no-scroll">
  <header id="main-header">
    <div class="menu__icon">
      <i class="fas fa-bars icon"></i>
    </div>
 
  <!--Burger Menú-->
  <input class="menu__btn" type="checkbox" id="menu__btn" />
  <label class="menu__icon" for="menu__btn"><span class="navicon"></span></label>  
  <!--Menú-->

    <nav>
        <img id="logoPrincipal" src="../img/logoBlanco.svg" alt="Logotipo Miguel Meixoeiro" class="hide-logo">
      <ul>
        <li><a href="#acceso">ACCESO</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="../templates/gallery.html">GALERIA</a></li>
        
      </ul>
    </nav>
  </header>

  <main class="hero fs" >
    <div  class="bg heroBig"></div>
    <!-- slide rojo que aparece cuando clickamos en ACCESO -->
    <section class="sliderLateral" id="sliderLateralContainer">

      <img src="../img/logoBlanco.svg" alt="Logotipo Miguel Meixoeiro" class="logoSlideBlanco">

      <section class="slider__formulario">
        <form class="form">
          <input class="input" type="text" placeholder="Nombre">
          <input class="input" type="text" placeholder="E-Mail">
          <textarea class="textarea" placeholder="Mensaje"></textarea> 
          <div class="center">
            <button class="button">Submit</button>
          </div>
        </form>
      </section>
      <section class="redes">
        <img src="../img/facebook.svg" alt="" class="redes--formato">
        <img src="../img/instagram.svg" alt="" class="redes--formato">
        <img src="../img/linkedin.svg" alt="" class="redes--formato">
        <img src="../img/twiter.svg" alt="" class="redes--formato twit">
      </section>
      

    </section>
    <!-- Contenido principal, incluyendo la imagen de fondo -->
  </main>

  <div class="container">
    <div class="left">
        <h1>CONTACTO</h1>
        <p>¡Lorem ipsum dolor sit amet consectetur. Aenean ultricies sem non nec venenatis leo. Sed imperdiet ligula at sit hac adipiscing orci. Proin sapien malesuada id massa tincidunt eget quam urna.</p>
    </div>

    <div class="right">
        <div class="square">
            <input type="text" placeholder="Información 1">
            <button onclick="enviarInformacion('Información 1')">SEND</button>
        </div>
        <div class="square">
            <input type="text" placeholder="Información 2">
            <button onclick="enviarInformacion('Información 2')">SEND</button>
        </div>
        <div class="big-square">
            <input type="text" placeholder="Información 3">
            <button onclick="enviarInformacion('Información 3')">SEND</button>
        </div>
    </div>
</div>

<script>
    function enviarInformacion(informacion) {
        alert('Enviando: ' + informacion);
        // Aquí puedes agregar lógica adicional para enviar la información a través de AJAX u otros métodos.
    }
</script>

  </main>

  <footer>
    <img src="../img/logoPlanoBlanco.svg" alt="Logotipo Miguel Meixoeiro">
  </footer>
  <script src="../js/register.js"></script>
  <script src="../js/contacto.js"></script>
</body>
</html>
