<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/gallery.css">
    <link rel="icon" sizes="16x16 32x32 48x48" type="image/svg" href="./img/favicon.svg" />
    <title>Gallery</title>
</head>
<body>
    <!-- agregar header -->
    <main class="gallery__container">
        <figure class="gallery__fotos">
            <!-- <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt="">
            <img src="../img/ali-saadat-IfQT8oRWL-Q-unsplash.jpg" alt="">
            <img src="../img/c-shii-oQzIbBhDS-c-unsplash.jpg" alt="">
            <img src="../img/daniel-curran-Mt_vDByRI44-unsplash.jpg" alt="">
            <img src="../img/mike-von-mmvwFTOTcmc-unsplash.jpg" alt="">
            <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt="">
            <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt="">
            <img src="../img/ali-saadat-IfQT8oRWL-Q-unsplash.jpg" alt="">
            <img src="../img/c-shii-oQzIbBhDS-c-unsplash.jpg" alt="">
            <img src="../img/daniel-curran-Mt_vDByRI44-unsplash.jpg" alt="">
            <img src="../img/mike-von-mmvwFTOTcmc-unsplash.jpg" alt="">
            <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt="">
            <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt="">
            <img src="../img/ali-saadat-IfQT8oRWL-Q-unsplash.jpg" alt="">
            <img src="../img/c-shii-oQzIbBhDS-c-unsplash.jpg" alt="">
            <img src="../img/daniel-curran-Mt_vDByRI44-unsplash.jpg" alt="">
            <img src="../img/mike-von-mmvwFTOTcmc-unsplash.jpg" alt="">
            <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt="">
            <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt="">
            <img src="../img/ali-saadat-IfQT8oRWL-Q-unsplash.jpg" alt="">
            <img src="../img/c-shii-oQzIbBhDS-c-unsplash.jpg" alt="">
            <img src="../img/daniel-curran-Mt_vDByRI44-unsplash.jpg" alt="">
            <img src="../img/mike-von-mmvwFTOTcmc-unsplash.jpg" alt="">
            <img src="../img/ahmed-adly-1PtM6b85sdw-unsplash.jpg" alt=""> -->
        </figure>
        
    </main>
    

    <script src="../js/gallery.js"></script>
</body>

</html>