<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/thanks.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Gracias</title>
</head>
<body>
     <!--Header-->
     <header id="main-header" class="thanks__header">
        <div class="menu__icon">
          <i class="fas fa-bars icon"></i>
        </div>
     
        <!--Burger Menú-->
      <input class="menu__btn" type="checkbox" id="menu__btn" />
      <label class="menu__icon" for="menu__btn"><span class="navicon"></span></label>  
        <!--Menú-->
    
        <nav>
            <img href="../index.html" id="logoPrincipal" src="../img/iconos/logo1.svg" alt="Logotipo Miguel Meixoeiro" class="hide-logo nav__img-tamaño">
          <ul>
            <li><a href="../templates/register.html">ACCESO</a></li>
            <li><a href="../templates/about.html">ABOUT</a></li>
            <li><a href="../templates/gallery.html">GALERIA</a></li>
            
          </ul>
        </nav>
      </header>


    <!--Pagina Gracias por tu compra-->
    
    <main class="thanks__container black__container">
        <section class="thanks__background">
            <img src="../img/imagen004.jpg" alt="" >
        </section>
        
        <h2>¡Gracias por tu compra!</h2>
        <figure class="thanks__logoFirma">
          <a href="../index.html"><img src="../img/iconos/logoPlanoBlanco.svg" alt="miguel-meixoeiro"></a>
        </figure>
        
        
    </main>
   
        
                
       
                                    
            
        
        
    
        
</body>
</html>